body{
    /* overflow-x:hidden;
    overflow-y:hidden; */
    margin: 0;
}

#canvasDiv{
    z-index: 1;
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#leftImgDiv{
    z-index: 2;
    width: 20vw;
    top: 17vw;
    left: 5vw;
    position: absolute;
    text-align: center;
}

#centerImgDiv{
    z-index: 2;
    width: 20vw;
    top: 17vw;
    left: 35vw;
    position: absolute;
    text-align: center;
}

#rightImgDiv{
    z-index: 2;
    width: 20vw;
    top: 17vw;
    right: 5vw;
    position: absolute;
    text-align: center;
}

#backgroundImg{
    width: 100vw;
    height: 56.25vw;
}

#centerImg, #leftImg, #rightImg{
    width: 30vw;
}

#nameBox{
    width: 7vw;
    height: 3vw;
    top:34.25vw;
    font-size: 2.5vw;

    position: absolute;
    z-index: 4;
    background-color: #000;
    color: #fff;
}

#chatBox{
    width: 94vw;
    height: 14vw;
    top: 36.25vw;

    position: absolute;
    z-index: 3;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    font-size: 2vw;
    padding: 3vw;
    animation: all 1s;
}

button{
    visibility: hidden;
}

label:hover{
    color: #49c0ec;
}

#text1, #text2{
    display: inline-block;
}

.standard{
    opacity: 0;
}
.show{
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 1 !important;
}
.showImmediately{
    -webkit-transition: all 0s;
    transition: all 0s;
    opacity: 1;
}
.hide{
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
}
.hideImmediately{
    -webkit-transition: all 0s;
    transition: all 0s;
    opacity: 1;
}